[Unit]
Description=namada service
After=network-online.target

[Service]
User={{ ansible_env.USER }}
WorkingDirectory={{ ansible_env.HOME }}/{{ cosmos_folder }}/namada
Environment=CMT_LOG_LEVEL=p2p:none,pex:error
Environment=NAMADA_CMT_STDOUT=true
ExecStart=/usr/local/bin/namada ledger run
StandardOutput=journal
StandardError=journal
Restart=always
RestartSec=10
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
